<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "soundsgoodlogo.jpg"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto">
      <!-- <li>
        <div class="button-container-2">
          <span class="mas">MASK2</span>
          <button type="button" name="Hover">MASK2</button>
        </div>
      </li> -->
      <li>
        <div class="search-form">
          <form class="form-inline mt-1 mr-2" action="/instruments/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">

            <div class="button-container-2">
              <span class="mas">Search</span>
              <button type="submit" name="Hover">Search</button>
            </div>

          </form>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item mt-1">
          <%= link_to "My bookings", "/bookings", class: "tabs-underlined nav-link" %>
          <%= link_to " My profile", edit_user_registration_path , class: "tabs-underlined nav-link d-block d-sm-none" %>
          <%= link_to "Add new instrument", new_instrument_path, class: "tabs-underlined nav-link d-block d-sm-none" %>
          <%= link_to "My instruments", mine_instruments_path, class: "tabs-underlined nav-link d-block d-sm-none" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "tabs-underlined nav-link d-block d-sm-none" %>
        </li>
        <li class="nav-item dropdown d-none d-sm-block">
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= cl_image_tag user_photo_or_fallback(current_user), width: 53, height: 53, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to " My profile", edit_user_registration_path , class: "dropdown-item" %>
            <%= link_to "Add new instrument", new_instrument_path, class: "dropdown-item" %>
            <%= link_to "My instruments", mine_instruments_path, class: "dropdown-item red" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
          <%= link_to new_user_session_path do %>

          <li class="button-container-2 mt-1">
            <span class="mas">Login</span>
            <button type="submit" name="Hover" action="/users/sign_in">Login</button>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

