<div class="container mt-5">
  <h1>Edit <%= @instrument.name %></h1>
  <br>
  <%= simple_form_for(@instrument) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :details %>
      <%= f.input :price_per_day %>
      <%= f.input :photo %>
      <%= f.association :category, collection: Category.order(:name)%>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <div class="button-container-2" style="margin-left: 0">
      <span class="mas">Update</span>
      <button type="submit" name="Hover">Update</button>
    </div>
  <% end %>

  <div class="blue" style="padding-top: 25px"><%= link_to '<< Back', instrument_path %></div>
</div>
