 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%= render "/shared/banner" %>

<div class="container">
  <% if @instruments.empty? %>

    <div class="flash flash-danger fade show mt-3">
      <span><strong>Oops!</strong> 😱 no results found. Try another instrument.</span>
    </div>

  <% else %>

    <% @categories.each do |categ| %>

      <!-- if category has instruments -->
      <% if @instruments[categ.id].present? %>

        <div class="mt-5">
        <!--   <h1 class="header">Find your next instrument</h1>
         -->
          <h1><%= categ.name %><span class="ml-3"><%= link_to 'see more', category_path(categ), class: "btn btn-danger" %></span></h1>
            <div class="cards mb-5">
            <% @instruments[categ.id].each do |instrument| %>
              <%= link_to instrument_path(instrument) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= photo_or_fallback(instrument) %>')">
                  <%= instrument.name %>
                  <div class="price" style="font-size: 18px;">
                    <% if instrument.bookings.empty? %>
                      <i class="far fa-calendar-check pr-3"></i>
                    <% else %>
                      <i class="far fa-calendar-times pr-3"></i>
                    <% end %>
                    <i class="fas fa-euro-sign mr-1"></i> <%= instrument.price_per_day %>
                  </div>

                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- else -->
      <!-- does nothing -->

    <% end %>

  <% end %>
</div>


