 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%= render "/shared/banner" %>

<div class="container">
  <% if @instruments.empty? %>

    <div class="flash flash-danger fade show mt-3">
      <span><strong>Oops!</strong> 😱 no results found. Try another instrument.</span>
    </div>

  <% else %>
    <%n = 0%>
    <% @categories.each do |categ| %>

      <!-- if category has instruments -->
      <% if @instruments[categ.id].present? %>
        <br>
        <h1><%= categ.name %><span class="ml-3"><%= link_to 'see more', category_path(categ), class: "btn btn-danger" %></span></h1>
        <br>
        <div id="multi-item-example-<%= n += 1 %>" class="carousel slide carousel-multi-item" data-ride="carousel" >
          <div class="carousel-inner">
            <% @instruments[categ.id].each_slice(3).with_index do |instruments_group, index| %>
              <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
    
                  <div class="row">
                    <% instruments_group.each do |instrument| %>
                      <div class="col-md-4 ">
                        <%= link_to instrument_path(instrument) do %>
                          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= photo_or_fallback(instrument) %>')">
                            <%= instrument.name %>
                            <div class="price" style="font-size: 18px;">
                              <i class="fas fa-euro-sign mr-1"></i> <%= instrument.price_per_day %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
    
              </div>
            <% end %>
          </div>
    
          <a class="carousel-control-prev" href="#multi-item-example-<%= n %>" role="button" data-slide="prev" style="background-color: lightgrey; width: 40px;">
            <div class="carousel-control-prev-icon" aria-hidden="true"></div>
            <!-- <span class="sr-only">Previous</span> -->
          </a>
          <a class="carousel-control-next" href="#multi-item-example-<%= n %>" role="button" data-slide="next" style="background-color: lightgrey; width: 40px;">
            <div class="carousel-control-next-icon" aria-hidden="true"></div>
            <!-- <span class="sr-only">Next</span> -->
          </a>
          
        </div>
      <% end %>

      <!-- else -->
      <!-- does nothing -->

    <% end %>

  <% end %>
</div>


