 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div class="container mt-5">
<!--   <h1 class="header">Find your next instrument</h1>
 -->  <% if @instruments.empty? %>
    <div class="flash flash-danger fade show mt-3">
    <span><strong>Oops!</strong> 😱 you have not added any instruments yet.</span>
    <!-- <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a> -->
  </div>
  <% else %>
    <div class="cards mb-5">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= photo_or_fallback(instrument) %>')">
          <%= instrument.name %>
        </div>
      <% end %>
    <% end %>
    </div>

    <h1 class="pb-2">Instruments booked</h1>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Instrument</th>
          <th scope="col">Renter</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Total price</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @instruments.each do |instrument| %>
          <% if !instrument.bookings.empty? %>
            <% instrument.bookings.each do |booking| %>
              <tr>
                <th scope="row"><%= i %></th>
                <td><%= booking.instrument.name %></td>
                <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
                <td><%= booking.start_date %></td>
                <td><%= booking.end_date %></td>
                <td><%= (booking.instrument.price_per_day * (booking.end_date - booking.start_date + 1).round).round(2) %> €</td>
                <td><%= booking.status ? "Accepted" : "Waiting for your confirmation" %></td>
                <td> <% if booking.status %>
                  <%=  %>
                  <% else %>
                  <%= link_to "Accept booking", update_booking_path(booking.id), :method=> :patch %>
                  <% end %>
                  </td>
              </tr>
              <% i += 1 %>
              <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

