<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= photo_or_fallback(@instrument) %>');">
  <div>
    <%= link_to root_path, class: 'btn btn-secondary back-btn' do %>
      <i class="fas fa-arrow-left"></i> Go back to the list
    <% end %>
  </div>
</div>

<div class="instrument-details-booking container mt-3">
  <div class="row">
    <div class="details col-sm">
      <div class="title-user d-flex justify-content-between">
        <h1 class="header pb-2 border-bottom"><%= @instrument.name%></h1>
        <div class="d-flex flex-column justify-content-between text-center">
          <%= cl_image_tag user_photo_or_fallback(@instrument.user), height: 53, class: "avatar" %>
          <%= @instrument.user.first_name %>
        </div>
      </div>
      <div class="card-product my-4">
        <div class="card-product-infos">
          <h2>Details</h2>
          <p><%= @instrument.details %></p>
          <h2>Price per day: </h2>
          <p><%= @instrument.price_per_day %>€</p>
        </div>
      </div>
    </div>

    <div class="booking col-sm">
      <p>Booking Form</p>
    </div>
  </div>

  <% if policy(@instrument).edit? %>
    <%= link_to "Update", edit_instrument_path(@instrument), class: "btn btn-warning" %>
  <% end %>
  <% if policy(@instrument).destroy? %>
      <%= link_to "Destroy", instrument_path(@instrument), method: :delete, class: "btn btn-danger" %>
  <% end %>

</div>



